*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container{
    width: 400px;
    min-width: 300px;
    background: gainsboro;
    overflow: auto;
    border-radius: 10px;
}

.headder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #42ae6c;
}

.headder>a{
    color:white;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 40px 30px 20px;
    background-color: #047468;
    gap: 10px;
    height: 550px;
    justify-content: space-between;
    overflow: auto;
    overflow-x: hidden;
}

.inputArea{
    display: flex;
    flex-direction: column;
    background-color: #047468;
    gap: 10px;
}

.inputArea>button{
    align-self: flex-end;
    background: #f7cd30;
    border: none;
    color: black;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.inputArea>input{
    border-radius: 40px;
    height: 10px;
    padding: 10px 10px;
    border: 1px solid white;
    background: transparent;
    outline: none;
}

.inputArea>label{
    margin-left: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer>img{
    width: 50px;
    align-self: flex-end;
    cursor: pointer;
}

.leftSide>p{
    margin-top: 20px;
    font-size: 14px;
    width: 200px;
}

.leftSide span{
    display: block;
}

.searchResult{
    background-color: aqua;
    margin: 20px -30px -20px -30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: white;
    border: 1px solid gray;
    height: 100%;
    overflow: auto;
    display: none;
}

.searchResult *{
    color: black;
}

@keyframes contentFlote {
    from {
        transform: translateY(200px);
    }
    to{
        transform: translateY(0);
    }
}

.searchResult{
    animation: contentFlote .5s ease-out forwards;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
}

.org,.alt{
    font-size: 15px;
    background: #f7cd30;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.org{
    box-shadow: 0px 4px 4px black;
}


.fullData>img,.oneItem>img{
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    display: block;
    border-radius: 15px;
}


.alt{
    background: blue;
    color: white;
}

.content>p,.content2>p{
    font-size: 15px;
    margin-bottom: 4px;
}

.price{
    font-weight: bold;
}


.fullData,.oneItem{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    gap: 30px;
    align-items: center;
    box-shadow: 0px 5px 7px black;
    padding: 10px;
    width: 320px;
    height: fit-content;
    border-radius: 12px;
}

.alternative{
    display: flex;
    flex-direction: column;
}

.Alter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

@keyframes slideLeft {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }

}

.Alter{
    animation: slideLeft 1s ease-out forwards;
}

.Alter:hover{
    box-shadow: 0px 5px 10px black;
}

@keyframes slideDown {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

#med,.label{
    animation: slideDown 0.9s ease-out forwards;
}

#med:focus{
    box-shadow: 0px 5px 6px black;
    transition: transform 0.2s ease-in-out;
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    
    to{
        transform: translateY(0);
        opacity: 1;
    }
}


.leftSide{
    opacity: 0;
    animation: slideUp 1s ease-in-out forwards;
}
